
body {
    --color1: #ffffff;
    --color2: #ffffff;
    --color3: #ffffff;
    --color4: #ffffff;
    --color5: #ffffff;

    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color2);
    
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    background-color: var(--color3);
    height: center;
    box-shadow: var(--shadow);
    width: 900px;
}

span {
    display: flex;
    width: 900px;
}

span p {
    color: gray;
}

h3 {
    font-size: 1.2em;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:lightgray;
    height: 20px;
  }


#line {
    float: left;
    width: 731px;
    height: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

header img {
    justify-content: center;
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  